<div class="modal fade" id="{{ idModal }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ tituloModal }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
                <div class="row g-0" >
                    <div class="col">
                        <div class="p-2">
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    *ngFor="let item of listaBotao"
                    type="button"
                    (click)="tratarClick(item)"
                    class="btn btn-{{item.classe}}">
                    {{ item.nome }}
                </button>
              </div>
        </div>
    </div>
</div>